@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

body {
    width: 100vw;

    height: 120vh;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    /*background: url('block.jpg');*/
    /*max-width: 1920px;*/
}



.glav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 47vw;
    margin-top: 5vh;
    width: 7vw;
    height: 7vh;
    border-radius: 1.5vw;
    font-size: 1vw;
    border: none;

    padding: 10px 25px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;

    right: 2%;
    bottom: 2%;
    box-shadow: none;
    line-height: 42px;
    -webkit-perspective: 230px;
    perspective: 20%;
  
}
.glav span {
    background: rgb(0,172,238);
    
    display: block;
    position: absolute;
    width: 7vw;
    height: 7vh;
    
    border-radius: 5px;
    margin:0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.glav span:nth-child(1) {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}
.glav span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}
.glav:hover span:nth-child(1) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    perspective: 0%;
}
.glav:hover span:nth-child(2) {
    color: transparent;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    perspective: 0%;
}




.glav:hover {
    cursor: pointer;
}

.block {

    display: flex;
    justify-content:center;
    align-items: center;
    
    font-size: 3vw;
    color: white;
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 800;
    /*font-size: 128px;*/
    line-height: 161px;
    /* identical to box height */
    text-align: center;
    text-transform: uppercase;
}


.blast {


    background: linear-gradient(270deg, #1ECDFF 0%, #B55EFF 85.58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

}

.crown{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 10vh;
}


.golo {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    font-family: 'Fira Sans';
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    margin-top: 20vw;
}
.stolbik {

    
    box-sizing: border-box;


    width: 10vw;
    height: 10vw;
    margin-left: 25vw;
    margin-bottom: 5vw;

    background: #080C14;
    border: 1px solid #46556B;
    border-radius: 2vw;


}

.stolbik2 {
    

    box-sizing: border-box;


    width: 10vw;
    height: 10vw;

    margin-bottom: 5vw;
    background: #080C14;
    border: 1px solid #46556B;
    border-radius: 2vw;


}

.stolbik3 {
    


    box-sizing: border-box;


    width: 10vw;
    height: 10vw;
    margin-right: 20vw;
    
    margin-bottom: 5vw;
    background: #080C14;
    border: 1px solid #46556B;
    border-radius: 2vw;


}

.nix {
    display: flex;
    justify-content: center;
    align-items: center;


}

.kvad {
    /* Rectangle 11 */




    width: 1.5vw;
    height: 1.5vw;
    

    background: #1ECDFF;
    border-radius: 4px;

}
